body, html {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
  }
    
  .container {
      margin-top: 20px;
  }

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}