{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
Add Task
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='css/signin.css')}}">
{% endblock %}


<!-- body 20:54-->
{% block content %}

<div class="container">

    <center>
        <h2 class="form-signin-heading">Welcome to the TODO app</h2>
        <br>
        <button onclick="window.location.href='{{ url_for('login') }}';" class="btn btn-lg btn-primary"
            type="submit">Login</button>
        <br>
        <br>
        <button onclick="window.location.href='{{ url_for('signup') }}';" class="btn btn-lg btn-primary"
            type="submit">Signup</button>
    </center>



</div>

{% endblock %}

<!-- <div class="buttons">
    <button type="button" onclick="window.location.href='{{ url_for('login') }}';">Login</button>
    <br>
    <br>
    <button type="button" onclick="window.location.href='{{ url_for('signup') }}';">Signup</button>
</div> -->