{% extends 'base.html'%}


<!-- head -->
{% block head %}

{% endblock %}


<!-- body 20:54-->
{% block body %}
<div class="todo">
    <h1>TODO App</h1>

    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td>
                <a href="">Delete</a>
                <br>
                <a href="">Update</a>
            </td>
        </tr>
    </table>

</div>
{% endblock %}