{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='css/todo.css')}}">
<style>
    table,
    td,
    th {
        border: 1px solid #aaa;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        height: 30px;
    }

    td {
        text-align: center;
        padding: 5px;
    }
</style>
{% endblock %}


<!-- body 20:54-->
{% block content %}

<div class="topleftbut" style="float: left; margin-left: 20px">

    <form method="GET" action="/logout">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Logout</button>
    </form>

</div>

<div class="addbut" style="float: right; margin-right: 20px">

    <form method="GET" action="/addtask">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Add Task</button>
    </form>

</div>



<div class="container">

    <center>
        <div class="content">
            <h1>TODO App</h1>

            {% if tasks|length < 1 %} <h4>No tasks currently created. Create one now!</h4>

                {% else %}

                <table>
                    <tr>
                        <th style="text-align: center;">Completed</th>
                        <th style="text-align: center;">Task</th>
                        <th style="text-align: center;">Created</th>
                        <th style="text-align: center;">Due Date</th>
                        <th style="text-align: center;">Actions</th>
                    </tr>
                    {% for task in tasks %}
                    <tr>
                        {% if task.completed %}
                        <form>
                            <td><input type="checkbox" disabled="disabled" name="completed" value={{task.completed}}
                                    checked>&nbsp</td>
                        </form>
                        {% else %}
                        <form>
                            <td><input type="checkbox" disabled="disabled" name="completed"
                                    value={{task.completed}}>&nbsp</td>
                        </form>
                        {% endif %}
                        <td>{{ task.content }}</td>
                        <td>{{ task.date_created.strftime('%m-%d-%Y') }}</td>
                        <td>{{ task.due_date.strftime('%m-%d-%Y') }}</td>
                        <td>
                            <form method="GET" action="/todo/delete/{{task.id}}">
                                <input type="submit" value="Delete">
                            </form>
                            <br>
                            <form method="GET" action="/todo/update/{{task.id}}">
                                <input type="submit" value="Update">
                            </form>
                            <br>
                            <form method="POST" action="/todo/completed/{{task.id}}">
                                <input type="submit" value="Complete">
                            </form>

                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}

        </div>
    </center>



</div>






{% endblock %}